.layout {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.contentDesctop {
  height: 100%;
  display: flex;
  position: relative;
  background-color: var(--lightest-grey1);
}

.main {
  width: 100%;
  position: relative;
  box-sizing: border-box;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.mainDesc {
  padding: 30px 3em 20px;
  gap: 8px;

}

.mainMobile {
  padding: 10px;
}

.navWrapper {
  background-color: #fff;
  box-sizing: border-box;
  height: 100%;
}

.navWrapperDesctop {
  width: 140px;
}

.navWrapperMobile {
  transition: 1s ease;
  position: absolute;
  width: 200px;
  z-index: -50;
}

.navWrapperClose {
  transform: translateX(-100%);
  opacity: 0;
}

.navWrapperOpen {
  transform: translateX(0);
  z-index: 50;
  opacity: 1;
}

.navWrapperOpen::before {
  content: "";
  background-color: rgba(65, 65, 65, 0.3);
  width: 600vw;
  height: 400%;
  transform: translateX(100px);
  position: fixed;
}

.button {
  position: absolute;
  top: 50px;
  left: 50%;
}
