.wrapper {
  width: 100%;
  min-height: 404px;
}

.notFoundTitle {
  font-family: var(--AvBlack);
  color: var(--red);
  padding: 0;
  margin: 0;
  font-size: 1.7em;
  letter-spacing: 0.2em;
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-shadow: 1px 1px 2px var(--lightest-red);
}

.notFounSection {
  width: 100%;
  height: 100%;
  background: linear-gradient(276.45deg, #707070 0%, #393939 100.28%);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageWrapper {
  width: 46%;
  position: relative;
  display: flex;
  max-height: 531px;
  overflow: hidden;
}

.image {
  align-self: flex-end;
  width: 100%;
  min-width: 430px;
  height: 80%;
  align-self: flex-end;
  object-fit: contain;
  box-sizing: border-box;
}

.flex {
  box-sizing: border-box;
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 1em 3em;
  margin-bottom: 4%;
  align-items: flex-start;
}

.nameBlock {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  width: 100%;
  gap: 1%;
  flex-direction: row;
}

.name {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--AvBlack);
  color: white;
  max-width: 80%;
  font-size: 36px;
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.number {
  font-size: 36px;
  font-family: var(--AvBlack);
  margin: 0;
  padding: 0;
  color: var(--lightest-red);
}

.section {
  padding-left: 3%;
  max-height: 525px;
  display: flex;
  box-sizing: border-box;
  gap: 5%;
  padding-top: 65px;
  background: linear-gradient(276.45deg, #707070 0%, #393939 100.28%);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.notFoundSection {
  padding: 3%;
}

.dataBlock {
  width: 100%;
  display: grid;
  grid-template-columns: 35% 35%;
  row-gap: 54px;
  justify-content: space-between;
}

.infoBlock {
  text-align: left;
  width: fit-content;
  display: flex;
  flex-direction: column;
  color: white;
  gap: 8px;
  width: 100%;
}

.infoTitle {
  margin: 0;
  font-family: var(--AvBlack);
  font-size: 24px;
  font-weight: 800;
}

.infoSubTitle {
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  font-size: 18px;
}

.team {
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (max-width: 980px) {
  .section {
    padding-top: 48px;
    max-height: fit-content;
    padding-left: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;
  }

  .flex {
    width: 100%;
  }

  .dataBlock {
    align-self: center;
    width: 80%;
    display: grid;
    grid-template-columns: 25% 25%;
    row-gap: 34px;
    column-gap: 6%;
    justify-content: center;
  }

  .nameBlock {
    justify-content: center;
    align-self: center;
    width: 64%;
    flex-direction: row;
  }

  .name {
    align-self: center;
    font-size: 24px;
  }

  .number {
    font-size: 24px;
  }

  .imageWrapper {
    overflow: visible;
    align-self: center;
    width: fit-content;
  }

  .image {
    min-width: fit-content;
    height: 220px;
    object-fit: contain;
    margin: 0 auto;
  }

  .infoBlock {
    text-align: center;
    width: 100%;
  }
  .infoTitle {
    font-size: 20px;
  }
}

@media screen and (max-width: 740px) {
  .dataBlock {
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
  }

  .image {
    height: 112px;
    width: 143px;
    object-fit: contain;
  }

  .notFounSection {
    border-radius: 0;
  }

  .dataBlock {
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: center;
  }

  .infoTitle {
    font-size: 17px;
  }

  .infoSubTitle {
    font-size: 15px;
  }

  .name {
    max-width: 76%;
    font-size: 17px;
    align-self: center;
  }

  .team {
    max-width: 60%;
    align-self: center;
  }

  .section {
    border-radius: 0;
  }
}
