
.fileInput {
  display: flex;
  flex-direction: column;
}

.form {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-around;
}

.formMobile {
  margin-top: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fieldsContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
