.container {
  width: 100%;
  display: grid;
  overflow-y: auto;
  gap: 10px;
}

.desctop {
  grid-template-columns: repeat(3, minmax(290px, 364px));
  grid-auto-rows: minmax(300px, 340px);
  justify-content: space-between;
  max-height: 80vh;

}

.mobile {
  grid-template-columns: repeat(2, minmax(170px, 230px));
  grid-auto-rows: minmax(200px);
  justify-content: space-evenly;
  gap: 6px;
  max-height: 72vh;

}

.container::-webkit-scrollbar {
  width: 8px;
}

.container::-webkit-scrollbar-thumb {
  width: 8px;
  border-radius: 3px;
  background-color: var(--grey);
}

.container::-webkit-scrollbar-track {
  background-color: var(--lightest-grey);
}
