.wrapper {
  min-height: 434px;
  max-width: 556px;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1em;
}

.title {
  font-family: var(--AvBlack), Arial, Helvetica, sans-serif;
  color: var(--lightest-red);
  font-weight: 800;
  font-size: 36px;
  margin-top: 30px;
}

.subtitle {
  font-family: var(--AvBook), Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: var(--grey);
  font-size: 24px;
  margin-top: 20px;
}

.image {
  width: 380px;
  height: 212px;
}

@media screen and (max-width: 840px) {

  .wrapper {
    box-sizing: border-box;
    position: relative;
    top: auto;
    left: auto;
    transform: none;
    align-self: flex-start;
    border-radius: 0;
  }

  .title {
    font-size: 17px;
    margin-top: 16px;
  }

  .subtitle {
    font-size: 15px;
    margin-top: 10px;
  }

  .image {
    width: 275px;
    height: 153px;
  }

}
