.wrapper {
  min-width: 375px;
  min-height: 434px;
  max-width: 556px;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-radius: 1em;
}

.title {
  font-family: "Avenir-Black", Arial, Helvetica, sans-serif;
  color: var(--lightest-red);
  font-weight: 800;
  font-size: 36px;
  margin-top: 30px;
}

.subtitle {
  font-family: "Avenir-Book", Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: var(--grey);
  font-size: 24px;
  margin-top: 20px;
}

.image {
  width: 380px;
  height: 212px;
}

@media screen and (max-width: 840px) {
  .title {
    font-size: 17px;
    margin-top: 16px;
  }

  .subtitle {
    font-size: 15px;
    margin-top: 10px;
  }

  .image {
    width: 275px;
    height: 153px;
  }

}
