.linkWrapper {
  display: flex;
  gap: 10px;
  font-family: "Avenir-Medium", Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: var(--grey);
  align-items: center;
  justify-content: center;
}

.link {
  color: var(--red);
}
