.header {
  padding: 0.5em;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  background-color: white;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  height: 69px;
}

@media screen and (max-width: 840px) {
  .header {
    height: 48px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }
}
