.container {
  background-color: var(--light-blue);
  height: 100vh;
  width: 100%;
  max-width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.image {
  max-width: 80%;
  /* height: 40%; */
  /* width: fit-content; */
}
