.section {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  gap: 2%;
  background: linear-gradient(276.45deg, #707070 0%, #393939 100.28%);
}

.sectionDesc {
  justify-content: space-evenly;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 404px;
}

.sectionMob {
  display: flex;
  padding-top: 1em;
  flex-direction: column;
  gap: 2em;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  max-height: 542px;
  height: max-content;
}
