.section {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  gap: 2%;
  background: linear-gradient(276.45deg, #707070 0%, #393939 100.28%);
}

.sectionDesc {
  padding: 65px 65px 0;
  justify-content: space-evenly;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  gap: 56px;
  height: 100%;
}

.sectionMob {
  display: flex;
  padding-top: 1em;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  max-height: fit-content;
  height: max-content;
  gap: 48px;
  padding: 48px;
}
