.twoCols {
  display: grid;
  grid-template-columns: minmax(200px, 1fr) 2fr;
  gap: 36px;

  justify-items: end;
  position: relative;
}

.threeCols {
  position: relative;

  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  justify-content: space-between;
  gap: 24px;
  justify-items: flex-end;
}

.headerMobile {
  display: flex;
  gap: 16px;
  flex-direction: column;
}
