.wrapper {
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding:  30px 20px;
  background-color: white;
  border-radius: 10px;
  position: absolute;
  top: 40%;
  left: 50%;
  margin: 0 auto;
  transform: translate(-50%);
}

.title {
  font-family: var(--AvBlack);
  color: var(--red);
  padding: 0;
  margin: 0;
  font-size: 1.1em;
  letter-spacing: 0.2em;
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-shadow: 1px 1px 2px var(--lightest-red);
}

.subtitle {
  font-family: var(--AvBlack);
  color: var(--grey);
  padding: 0;
  margin: 0;
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
}