.layout {
  display: flex;
  position: relative;
  box-sizing: border-box;
  flex-direction: column;
  width: 100%;
  height: 100dvh;
}

.contentDesctop {
  height: 100dvh;
  width: 100%;
  display: flex;
  position: relative;
  background-color: var(--lightest-grey1);
  overflow: hidden;
}

.header {
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  align-items: center;
  box-sizing: border-box;
  padding-left: 4%;
  padding-right: 3%;
  height: 8.45vh;
  box-shadow: 0px 1px 10px 0 #d1d1d180;
}

.main {
  position: relative;
  box-sizing: border-box;
  display: flex;
  width: 100%;
  padding: 3.3649vh 5.555vw;
  overflow-y: auto;
}


.main::-webkit-scrollbar {
  width: 8px;
}

.main::-webkit-scrollbar-thumb {
  width: 8px;
  border-radius: 3px;
  background-color: var(--grey);
}

.main::-webkit-scrollbar-track {
  background-color: var(--lightest-grey);
}



.navWrapper {
  background-color: #fff;
  box-sizing: border-box;
  width: 16.88vh;
  box-sizing: border-box;
}

.infoWrapper {
  display: block;
}

.buttonWrapper {
  display: none;
}

.overlay {
  display: none;
  position: fixed;
  width: 0;
  height: 0;
  transition: opacity 0.3s;
  z-index: 350;
  opacity: 0;
}

.overlayOpen {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(65, 65, 65, 1);
  opacity: 0.6;
  z-index: 3;
}

@media screen and (max-width: 840px) {
  .overlay {
    display: block;
  }
  .main {
    padding: 16px 12px;
  }

  .header {
    box-sizing: border-box;
    height: fit-content;
    justify-content: center;
    align-content: center;
    padding: 14px;
    align-items: center;
    padding-left: 0;
    padding-right: 0;
  }

  .navWrapper {
    transition: 0.6s ease;
    position: absolute;
    display: flex;
    width: 21vh;
    height: 100%;
    opacity: 1;
    z-index: 50;
    transform: translateX(0);
  }

  .navWrapperClose {
    transform: translateX(-100%);
    z-index: -50;
    opacity: 0;
  }
  .buttonWrapper {
    display: block;
    position: absolute;
    left: 10%;
  }

  .infoWrapper {
    display: none;
  }
}


@media screen and (max-width: 550px) {
  .main::-webkit-scrollbar {
    width: 4px;
  }
  
  .main::-webkit-scrollbar-thumb {
    width: 4px;
    border-radius: 2px;
  }
}