.label {
  font-family: var(--AvenirM);
  color: white;
  background-color: transparent;
  width: fit-content;
  display: flex;
  flex-direction: row-reverse;
  position: relative;
  border-radius: 4px;
  gap: 3px;
}


.labelDesc {
  font-size: 18px;
}

.active {
  /* outline: .5px solid var(--light-grey); */
  box-shadow: 0 0 1px 0  var(--lightest-grey);
  padding: 0 1px;
  cursor: pointer;
}

.active:hover {
  box-shadow: 0 0 4px 1px  var(--light-grey);
}

.labelMob {
  font-size: 15px;

}

.input {
  width: 0;
  position: absolute;
  height: 0;
  margin: 0;
  padding: 0;
  z-index: -50;
}
