.test {
  position: absolute;
  display: flex;
  align-items: center;
  border-radius: 4px;
  background-color: var(--light-red);
  right: 5%; 
  top: 5%;
  height: 40px;
  color: white;
  font-family: var(--AvenirM);
  font-size: 16px;
  padding: 0 8px;
}