.gridContainer {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  gap: 0 12px;
}

.fieldsContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 38%;
}

@media screen and (max-width: 1186px) {
  .fieldsContainer {
    max-width: 55%;
  }
}

@media screen and (max-width: 915px) {
  .fieldsContainer {
    max-width: 100%;
  }
}

@media screen and (max-height: 915px) {
  .fieldsContainer {
    gap: 10px;
  }
}
