.gridContainer {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  gap: 0 12px;
}

.fieldsContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}


@media screen and (max-height: 915px) {
  .fieldsContainer {
    gap: 10px;
  }
}

