.link {
  position: relative;
  text-decoration: none;
  display: flex;
  width: 100%;
  height: 26.39vw;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  box-sizing: border-box;
}

.imageWrapper {
  border-top-left-radius: 0.42vh;
  border-top-right-radius: 0.42vh;
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background: linear-gradient(121.57deg, #707070 1.62%, #393939 81.02%);
}

.infoWrapper {
  width: 100%;
  height: 30%;
  gap: 5%;
  display: flex;
  flex-direction: column;
  background-color: var(--dark-grey);
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 0.42vh;
  border-bottom-right-radius: 0.42vh;
}

.image {
  object-fit: contain;
  width: 70%;
  max-height: 70%;
}

.name {
  color: white;
  margin: 0;
  padding: 0;
  font-size: 1.25vw;
  max-width: 40%;
  max-height: 40%;
  text-overflow: ellipsis;
  word-break: break-all;
  overflow: hidden;
}

.number {
  color: var(--light-red);
}

.team {
  color: var(--light-grey);
  margin: 0;
  padding: 0;
  font-size: 1.11111vw;
  max-width: 40%;
  max-height: 40%;
  text-overflow: ellipsis;
  word-break: break-all;
  overflow: hidden;
}

@media screen and (min-width: 2028px) {
  .link {
    height: 40.17vh;
    width: 100%;
  }

  .name {
    font-size: 1.72vh;
  }

  .team {
    font-size: 1.44vh;
  }
}

@media screen and (max-width: 840px) {
  .link {
    height: 48vw;
  }

  .name {
    font-size: 2.5vw;
    max-width: 85%;
    max-height: 40%;
  }
  .team {
    font-size: 2vw;
    max-width: 85%;
  }
}
@media screen and (max-width: 520px) {
  .name {
    font-size: 4vw;
  }

  .team {
    font-size: 3.466vw;
  }
}
