.headerDesctop {
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding-left: 4%;
  padding-right: 3%;
}

.headerMobile {
  height: 62px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}