.wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 100%;
}

.infoBlock {
  color: white;
  font-family: var(--AvenirM);
  display: flex;
  gap: 18px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.title {
  font-family: var(--AvBlack);
  color: white;
  padding: 0;
  margin: 0;
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.notFoundTitle {
  font-family: var(--AvBlack);
  color: var(--red);
  padding: 0;
  margin: 0;
  font-size: 1.7em;
  letter-spacing: .2em;
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-shadow: 1px 1px 2px var(--lightest-red);

}

.infoBlockDesc > h1 {
  font-size: 36px;
  max-width: 400px;
}

.infoBlockMob {
  align-items: center;
}

.infoBlockMob > h1 {
  font-size: 17px;
  max-width: 250px;
}

.grid {
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.flex {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.imageWrapper {
  display: flex;
}

.dataBlockDesc {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
}

.imageUrl {
  object-fit: contain;
  overflow: hidden;
}

.imageUrlDesc {
  width: 210px;
  height: 210px;
  align-self: first baseline;
}

.imageUrlMob {
  width: 90px;
  height: 90px;
}
