.wrapper {
  height: 56px;
  width: 100%;
  border-top: 0.5px solid var(--light-grey);
  display: flex;
  box-sizing: border-box;
  align-items: center;
  font-family: var(--AvenirM);
  font-size: 14px;
  /* color: var(--grey); */
}

.number {
  width: 70px;
}

.bio {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
}

.info {
  width: 400px;
  display: flex;
  justify-content: space-evenly;
  gap: 25px;
}

.image {
  margin: 0 20px;
  width: 40px;
  height: 40px;
  box-sizing: border-box;
  object-fit: contain;
}

.span {
  width: 80px;
  text-align: start;
}

.position {
  color: var(--light-grey)
}

.name {
  color: var(--grey)

}