.dataBlockDesc {
  display: flex;
  width: fit-content;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 8px;
  color: white;
}

.title {
  font-family: var(--AvBlack);
  display: block;
  margin: 0;
  padding: 0;
  max-width: 300px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.titleDesc {
  font-size: 24px;
}

.titleMob {
  font-size: 17px;
}

.subtitle {
  font-family: var(--AvenirM);
  font-weight: 500;
  margin: 0;
  padding: 0;
  max-width: 280px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.subtitleDesc {
  max-width: 280px;
  font-size: 18px;
}

.subtitleMob {
  font-size: 15px;
  max-width: 260px;
}

.dataBlockMob {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
