.roster {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: white;
  border: 0.5px solid var(--light-grey);
  font-size: 16px;
  color: var(--grey);
  max-height: 50%;
  min-height: 160px;
  overflow-y: auto;
}

.roster::-webkit-scrollbar {
  width: 8px;
}

.roster::-webkit-scrollbar-thumb {
  width: 8px;
  border-radius: 3px;
  background-color: var(--grey);
}

.roster::-webkit-scrollbar-track {
  background-color: var(--lightest-grey);
}

.title {
  display: flex;
  height: 56px;
  text-align: start;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  margin: 0;
  padding: 0;
  padding-left: 3%;
}

.header {
  height: 40px;
  font-size: 16px;
  color: var(--grey);
  border-top: 0.5px solid var(--light-grey);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.number {
  width: 70px;
  min-width: 70px;
  margin-right: 20px;
}

.player {
  width: calc(100% - 70px - 20%);
  text-align: left;
}

.info {
  display: flex;
  gap: 25px;
}

.span {
  width: 80px;
  text-align: start;
}

.bio {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
}

@media screen and (max-width: 580px) {
  .header {
    justify-content: flex-start;
  }

  .info {
    display: none;
  }

  .number {
    margin-right: 16px;
  }
}
