@font-face {
  font-family: "Avenir-Black";
  src: url("./avenir/Avenir-Black.woff2") format("woff2"),
    url("./avenir/Avenir-Black.woff2") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Avenir-Book";
  src: url("./avenir/Avenir-Book.woff2") format("woff2"),
    url("./avenir/Avenir-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Avenir-Medium";
  src: url(./avenir/Avenir-Medium.woff2) format("woff2"),
    url(./avenir/Avenir-Medium.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Avenir Next Medium";
  src: url(./avenir/AvenirNextCyr-Medium.woff2) format("woff2"),
    url(./avenir/AvenirNextCyr-Medium.woff) format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Avenir Next Bold";
  src: url(./avenir/AvenirNextCyr-Bold.woff) format("woff"),
    url(./avenir/AvenirNextCyr-Bold.ttf) format("ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Avenir Next Regular";
  src: url(./avenir/AvenirNextCyr-Regular.woff) format("woff"),
    url(./avenir/AvenirNextCyr-Regular.ttf) format("ttf");
  font-weight: 500;
  font-style: normal;
}
