@import url(/src/assests/fonsts/fonts.css);

body {
  margin: 0;
  font-family: var(--AvenirM), "Helvetica Neue", "Segoe UI", -apple-system,
    BlinkMacSystemFont, "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::-webkit-scrollbar-corner {
  background-color: #344472;
  color: #c60e2e;
}

body::-webkit-scrollbar-thumb {
  background-color: #344472;
  color: #c60e2e;
}

body::-webkit-scrollbar-button {
  background-color: #344472;
  color: #c60e2e;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --AvenirM: "Avenir-Medium", "Avenir Next Medium";
  --AvBlack: "Avenir-Black", "Avenir Next Bold",  sans-serif;
  --AvBook: "Avenir-Book", "Avenir Next Regular",  sans-serif;
  --dark-grey: #303030;
  --grey: #707070;
  --light-grey: #9c9c9c;
  --lightest-grey: #d1d1d1;
  --lightest-grey1: #f6f6f6;
  --dark-red: #c60e2e;
  --red: #e4163a;
  --light-red: #ff5761;
  --lightest-red: #ff768e;
  --blue: #344472;
  --light-blue: #f5fbff;
}
