.link {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  box-sizing: border-box;
  height: 26.39vw;
}

.imageWrapper {
  border-top-left-radius: 0.42vh;
  border-top-right-radius: 0.42vh;
  width: 100%;
  height: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(121.57deg, #707070 1.62%, #393939 81.02%);
}

.infoWrapper {
  width: 100%;
  height: 35%;
  gap: 4%;
  display: flex;
  flex-direction: column;
  background-color: var(--dark-grey);
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 0.42vh;
  border-bottom-right-radius: 0.42vh;
}

.image {
  width: 41.225%;
  height: 10.417vw;
  object-fit: contain;
  box-sizing: border-box;
}

.name {
  font-size: 1.25vw;
  color: white;
  max-width: 40%;
  text-overflow: ellipsis;
  word-break: break-all;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.text {
  font-size: 14px;
  color: var(--light-grey);
  font-size: 1.11111vw;
  
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 2028px) {
  .link {
    height: 40.17vh;
    width: 100%;
  }

  .name {
    font-size: 1.72vh;
  }

  .text {
    font-size: 1.44vh;
  }
}

@media screen and (max-width: 840px) {
  .link {
    height: 53.6vw;
  }
  .image {
    width: 35.5%;
    height: 13.87vw;
  }

  .name {
    max-width: 85%;

    font-size: 2.5vw;
  }

  .text {
    font-size: 2vw;
  }
}

@media screen and (max-width: 480px) {
  .name {
    font-size: 4vw;
  }

  .text {
    font-size: 3.466vw;
  }
}
