.header {
  position: relative;
}

.twoCols {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2.6vw;
  justify-items: flex-end;
}

.threeCols {
  display: grid;
  grid-template-columns: repeat(3,  32.25%);
  gap: 1.3vw;
  justify-items: flex-end;
}

.headerMobile {
  display: flex;
  gap: 16px;
  flex-direction: column;
}


@media screen and (max-width: 840px) {
  .twoCols {
    grid-template-columns: 1fr 1fr;
    gap: 2.66vw;
    justify-items: flex-end;
  }
}

@media screen and (max-width: 800px) {
  .header {
    display: flex;
    gap: 16px;
    flex-direction: column;
  }
}
