.link {
  text-decoration: none;
  display: block;
  font-size: 14px;
  font-weight: 500;
  color: var(--red);
  list-style: none;
  text-wrap: nowrap;
  max-width: 120px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.span {
  font-size: 14px;
  font-weight: 500;
  color: var(--light-grey);
}

.container {
  width: fit-content;
}

.list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  flex-direction: row;
  gap: 4px;
  width: fit-content;
}
